---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
      <div class="post">
        {% if post.redirect %}
            <a href="{{ post.redirect }}">
                <img src="{{ site.baseurl }}public/img/{{ post.hero-img }}" alt="{{ post.title }}" />
            </a>
        {% else if %}
            <a href="{{ post.url }}">
                <img src="{{ site.baseurl }}public/img/{{ post.hero-img }}" alt="{{ post.title }}" />
            </a>
        {% endif %}
      </div>
  {% endfor %}
</div>
