<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
        <a href="{{ site.baseurl }}"><h1 class="profile_photo">{{ site.title }}</h1></a>
      <p class="lead">{{ site.description }}</p>
    </div><nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="{{ site.blog }}">Blog</a>
        <a class="sidebar-nav-item active" href="/">Projects</a>
        <br />
        <a class="sidebar-nav-item" href="{{ site.dribbble }}" target="_blank">Dribbble</a>
        <a class="sidebar-nav-item" href="{{ site.linkedin }}" target="_blank">LinkedIn</a>
        <a class="sidebar-nav-item" href="{{ site.resume }}" target="_blank">Resume</a>
        <a class="sidebar-nav-item" href="mailto:{{ site.email }}">Email</a>
    </nav>
  </div>
</div>
